@import '_variables';

.conversionButton {
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
    height: 100px;
    width: 100%;
    max-width: 600px;
    background-color: $button-backgroundColor;
    color: $button-textColor;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid $button-borderBottomColor;
    transition: background-color .2s;
    &:hover {
        cursor: pointer;
        background-color: $button-backgroundColor--hover;
    }
    &__img {
        vertical-align: bottom;
        padding-right: 8px;
    }
}

.-primary {
    color: $brand;
}

.-white {
    color: $white;
}

.-textCenter {
    text-align: center;
}

.-large {
    font-size: 26px;
}

.-sp {
    display: none;
}

@media screen and (max-width: $--breakpoint-m) {
    .conversionButton {
        width: 96%;
        height: 80px;
        font-size: 32px;
    }
    .-large {
        font-size: 22px;
    }
}

@media screen and (max-width: $--breakpoint-s) {
    .conversionButton {
        width: 76%;
        height: 56px;
        padding: 8px;
        font-size: 18px;
        &__img {
            height: 19px;
        }
    }
    .-large {
        font-size: 18px;
    }
    .-sp {
        display: block;
    }
    .-pc {
        display: none;
    }
}