@import "~normalize.css";
@import "_variables.css";
@import "_base";
@import "_layout";
@import "_module";
@import "_components";
@import "_header";
@import "_footer";

.mainVisual {
    padding-top: 0;
    background: url('../img/main01.jpg');
    background-size: cover;
    &__catchCopy {
        margin: 0;
        padding: 16px;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 0;
    }
    &__body {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
    }
    &__band {
        &.-blank {
            padding: 16px;
            background-color: rgba(255, 255, 255, 0.5);
            letter-spacing: .1em;
        }
        &.-primary {
            background-color: $brand-dark;
            width: 100%;
            max-width: $--content-width-m;
            margin: 0 auto;
        }
        &--emphasis {
            margin: 0;
            font-size: 22px;
            color: #015b7d;
            font-weight: 600;
            line-height: 1.3;
        }
        &__img {
            width: 100%;
            max-width: $--content-width-l;
        }
    }
    &--emphasis {
        font-size: 36px;
    }
    &__title {
        margin: 48px auto 24px;
        &__img {
            width: 96%;
            max-width: $--content-width-l;
        }
    }
    &__caption {
        font-size: 16px;
        margin: 0 auto 44px;
    }
}

.ctaText {
    font-size: 12px;
    padding: 32px 0 34px;
    &__heading {
        margin: 0 auto;
        font-size: 32px;
        letter-spacing: .2em;
        line-height: 1.8;
    }
    &--emphasis {
        font-size: 42px;
        color: #0177a4;
        line-height: 1.5;
    }
    &__img {
        display: block;
        margin: 24px auto 0;
        width: 80%;
        max-width: 290px;
    }
}

.onlyForVisitors {
    padding: 92px 0;
    background: url('../img/onlyForVisitors_background.png');
    background-size: cover;
    font-size: 20px;
    &__heading {
        margin: 0 auto;
        &__img {
            width: 80%;
            max-width: 640px;
        }
    }
    &__body {
        margin-top: 12px;
        font-size: 36px;
        line-height: 1.3;
        font-weight: 600;
    }
    &--strong {
        font-size: 64px;
    }
    &--emphasis {
        font-size: 50px;
    }
    & .-primary {
        color: #006d96;
    }
    &__benefits {
        width: 90%;
        max-width: 740px;
        display: block;
        margin: 0 auto 58px;
    }
}

.becomeKnown {
    padding: 40px 0;
    &__text {
        margin: 0 auto;
        font-size: 30px;
        letter-spacing: .1em;
        font-weight: 600;
        line-height: 1.7;
    }
    &--emphasis {
        font-size: 38px;
    }
}

.voice {
    background-color: #f4f5f8;
    &__heading {
        margin: 26px auto 40px;
        font-size: 54px;
        letter-spacing: .2em;
    }
    .conversionButton {
        margin-bottom: 32px;
    }
}

.mainDescription {
    padding: 0 0 64px;
    .c-checkList {
        margin-bottom: 120px;
    }
    .conversionButton {
        margin: 72px auto 10px;
    }
}

.practice {
    margin: 0 auto 60px;
    width: 100%;
    &__heading {
        width: 100%;
    }
    &__img {
        width: 100%;
        max-width: 1000px;
        margin-bottom: 64px;
        &.-right {
            display: block;
            margin: 110px 0 0 auto;
        }
        &.-left {
            display: block;
            margin: 110px auto 70px 0;
        }
    }
}

.trouble {
    background: url('../img/trouble_background.jpg') no-repeat;
    background-size: cover;
    min-height: 900px;
    &__heading {
        font-size: 28px;
        text-shadow: $white 1px 1px 20px, $white -1px 1px 20px,
    $white 1px -1px 20px, $white -1px -1px 20px;
        margin-top: 8px;
    }
    &--emphasis {
        font-size: 52px;
    }
    &__img {
        display: block;
        margin: 48px auto 0;
        width: 96%;
        max-width: $--content-width-l;
    }
}

.notToSpread {
    padding: 0 0 40px;
    &__heading {
        margin-top: -2px;
        margin-bottom: 72px;
        &__img {
            width: 100%;
        }
    }
}

.capture {
    background: url('../img/media_capture.jpg') no-repeat;
    background-size: cover;
    letter-spacing: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    &__heading {
        padding: 0 16px;
        font-size: 48px;
    }
}

.lifeStyle {
    padding: 70px 0 80px;
    .conversionButton {
        margin-top: 72px;
    }
}

.seminarIntroduction {
    background-color: #ecedf0;
    padding-top: 24px;
    &__text {
        width: 96%;
        max-width: $--content-width-m;
        display: block;
        margin: 60px auto;
    }
    &__photo {
        display: block;
        margin: 0 auto 24px;
        width: 100%;
        max-width: $--content-width-m;
    }
}

.appropriate {
    padding: 0 0 32px;
    &__heading {
        margin: 0 auto 32px;
        width: 100%;
    }
}

.overView {
    max-width: $--content-width-l;
    margin: 0 auto;
    &__wrapper {
        margin: 60px auto;
    }
    &__labelValue {
        margin: 0 0 56px 40px;
    }
    &__label,
    &__value
    {
        font-size: 24px;
        margin-bottom: 16px;
        &.-block {
            display: block;
        }
    }
    &__label {
        font-weight: 600;
    }
    &__value {
        margin-left: 0;
        font-size: 20px;
        &__description {
            display: block;
            max-width: 700px;
            font-size: 16px;
        }
    }
}

.profile {
    max-width: $--content-width-l;
    margin: 0 auto 80px;
    .c-squareHeading {
        margin-top: 40px;
        letter-spacing: .2em;
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__img {
        margin: 24px 0 0 24px;
    }
    &__name {
        font-size: 32px;
        font-weight: 600;
    }
    &__position {
        font-size: 20px;
        padding-right: 16px;
    }
    &__text {
        margin-left: 54px;
    }
    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
        font-size: 40px;
        font-weight: 400;
        &::before,
        &::after
        {
            content: "";
            width: 80px;
            height: 1px;
            background-color: #333e63;
            display: inline-block;
        }
        &::before {
            margin-right: 8px;
        }
        &::after {
            margin-left: 8px;
        }
    }
    &__biography {
        font-size: 16px;
        margin: 8px auto;
        &__wrapper {
            margin: 0 auto 40px;
        }
    }
    &__achievement {
        max-width: 800px;
        margin: auto;
        &__labelValue {
            display: flex;
            margin-bottom: 16px;
            font-size: 16px;
        }
    }
    &__body {
        max-width: 800px;
        margin: 0 auto 100px;
        font-size: 16px;
        &.-right {
            text-align: right;
        }
    }
}

@media screen and (max-width: $--breakpoint-m) {
    .ctaText {
        &__heading {
            padding: 0 16px;
        }
    }
    .becomeKnown {
        &__text {
            padding: 0 16px;
            font-size: 28px;
        }
        &--emphasis {
            font-size: 36px;
        }
    }
    .trouble {
        &__heading {
            padding: 0 16px;
            font-size: 28px;
        }
        &--emphasis {
            font-size: 48px;
        }
    }
    .appropriate {
        .c-checkList {
            &__list {
                padding-left: 48px;
                background-size: 36px;
            }
        }
    }
    .profile {
        &__wrapper {
            display: block;
        }
        &__img {
            display: block;
            margin: 0 auto;
        }
        &__position {
            display: block;
        }
        &__text {
            margin-left: 0;
            padding: 0 16px;
        }
        &__name {
            text-align: center;
        }
        &__biography {
            &__wrapper {
                margin-bottom: 56px;
            }
        }
        &__heading {
            font-size: 36px;
        }
        &__achievement {
            padding: 0 16px;
            &__labelValue {
                display: block;
                margin-bottom: 24px;
            }
            &__value {
                margin-left: 0;
            }
        }
        &__body {
            padding: 0 16px;
        }
    }
}

@media screen and (max-width: $--breakpoint-s) {
    .mainVisual {
        padding-top: 8px;
        &__catchCopy {
            padding: 8px 16px 14px;
            font-size: 12px;
        }
        &__title {
            margin: 24px auto 8px;
        }
        &__body {
            font-size: 14px;
        }
        &__band {
            &--emphasis {
                font-size: 14px;
            }
            &.-blank {
                padding: 8px 16px;
            }
        }
        &--emphasis {
            font-size: 16px;
        }
        &__caption {
            font-size: 12px;
            margin-bottom: 22px;
        }
    }
    .ctaText {
        padding: 16px 0 16px;
        &__heading {
            font-size: 18px;
        }
        &--emphasis {
            font-size: 22px;
        }
        &__img {
            margin-top: 16px;
            width: 46%;
        }
    }
    .onlyForVisitors {
        padding: 8px 0 40px;
        &__heading {
            margin-top: 32px;
        }
        &__body {
            margin-top: 0;
            padding: 0 16px;
            font-size: 22px;
            line-height: 1.6;
        }
        &--strong {
            font-size: 40px;
        }
        &--emphasis {
            font-size: 24px;
        }
        &__benefits {
            margin-bottom: 32px;
        }
        .-primary {
            line-height: .6;
        }
    }
    .becomeKnown {
        padding: 18px 0;
        &__text {
            font-size: 18px;
        }
        &--emphasis {
            font-size: 22px;
        }
    }
    .voice {
        &__heading {
            font-size: 32px;
            margin: 12px 0 20px;
        }
        .conversionButton {
            margin-bottom: 16px;
        }
    }
    .practice {
        margin-bottom: 24px;
        &__img {
            margin-bottom: 16px;
            &.-left {
                margin: 72px auto 24px 0;
            }
            &.-right {
                margin: 72px 0 0 auto;
            }
        }
    }
    .mainDescription {
        .c-checkList {
            margin-bottom: 40px;
        }
        .conversionButton {
            margin: 62px auto 0;
        }
    }
    .trouble {
        padding: 24px 0 40px;
        min-height: initial;
        &__heading {
            font-size: 20px;
        }
        &--emphasis {
            font-size: 32px;
        }
        &__img {
            margin-top: 24px;
        }
    }
    .notToSpread {
        padding-bottom: 16px;
        &__heading {
            margin-bottom: 32px;
        }
    }
    .capture {
        min-height: 160px;
        margin: 24px auto;
        &__heading {
            font-size: 22px;
        }
    }
    .lifeStyle {
        padding: 48px 0;
        .conversionButton {
            margin-top: 44px;
        }
    }
    .seminarIntroduction {
        padding-top: 24px;
        &__text {
            margin: 24px auto;
        }
        &__photo {
            margin: 0 auto 4px;
        }
    }
    .appropriate {
        padding: 0 ;
        &__heading {
            margin-bottom: 16px;
        }
        .c-checkList {
            &__list {
                font-size: 14px;
                padding-left: 32px;
                background-size: 24px;
            }
        }
    }
    .overView {
        &__wrapper {
            margin: 40px auto 32px;
            padding: 0 16px;
            & .overView__labelValue:last-of-type {
                margin-bottom: 32px;
            }
        }
        &__labelValue {
            margin: 0 0 40px 0;
        }
        &__label,
        &__value
        {
            font-size: 20px;
        }
        &__value {
            &__description {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
    .profile {
        margin-bottom: 40px;
        .c-squareHeading {
            margin-top: 20px;
        }
        &__img {
            width: 80%;
        }
        &__position {
            font-size: 18px;
        }
        &__name {
            font-size: 28px;
        }
        &__biography {
            font-size: 16px;
            &__wrapper {
                margin-bottom: 40px;
            }
        }
        &__heading {
            font-size: 28px;
        }
        &__achievement {
            &__labelValue {
                font-size: 16px;
            }
        }
        &__body {
            font-size: 16px;
            margin: 0 auto 56px;
        }
    }
}